In [6]:
chr(97).upper()

'A'

In [3]:
ord('A')

65

In [7]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f"<Human: {self.name}, {self.age}>"


# 아래 humans에 할당된 list object는 다음과 같다.
# Human("이름", 연령)
humans = [
    Human("Abi", 29),
    Human("Batista", 32),
    Human("Charlse", 37),
    Human("Dolphine", 30),
    Human("Eva", 26),
    Human("Frin", 18),
    Human("Gless", 42),
    Human("Harby", 12),
    Human("Iris", 41),
    Human("David", 31),
]

In [23]:
g = [(i.name.upper(), i.age+5) for i in humans]
g

[('ABI', 34),
 ('BATISTA', 37),
 ('CHARLSE', 42),
 ('DOLPHINE', 35),
 ('EVA', 31),
 ('FRIN', 23),
 ('GLESS', 47),
 ('HARBY', 17),
 ('IRIS', 46),
 ('DAVID', 36)]

In [26]:
def part3(score_list):
    person=[0]*11
    for score in score_list:
        if score < 0: continue
        person[int(score/10)] += 1

    for i in range(len(person)): 
        print("{0} 점대 - : {1} 명".format(i*10, person[i]))

part3([75, 25, 6, 73, 43, 46, 31, 13, 60, 90, 5,
               43, 35, 65, 100, 28, 83, 95, 35, 45, -1])

0 점대 - : 2 명
10 점대 - : 1 명
20 점대 - : 2 명
30 점대 - : 3 명
40 점대 - : 4 명
50 점대 - : 0 명
60 점대 - : 2 명
70 점대 - : 2 명
80 점대 - : 1 명
90 점대 - : 2 명
100 점대 - : 1 명

In [49]:
# a=[1,2,5,3]
# a.sort()
# a.pop()
# [i for i in range(1)]
5//5

1