In [6]:
chr(97).upper()

'A'

In [3]:
ord('A')

65

In [7]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f"<Human: {self.name}, {self.age}>"


# 아래 humans에 할당된 list object는 다음과 같다.
# Human("이름", 연령)
humans = [
    Human("Abi", 29),
    Human("Batista", 32),
    Human("Charlse", 37),
    Human("Dolphine", 30),
    Human("Eva", 26),
    Human("Frin", 18),
    Human("Gless", 42),
    Human("Harby", 12),
    Human("Iris", 41),
    Human("David", 31),
]

In [23]:
g = [(i.name.upper(), i.age+5) for i in humans]
g

[('ABI', 34),
 ('BATISTA', 37),
 ('CHARLSE', 42),
 ('DOLPHINE', 35),
 ('EVA', 31),
 ('FRIN', 23),
 ('GLESS', 47),
 ('HARBY', 17),
 ('IRIS', 46),
 ('DAVID', 36)]

In [26]:
def part3(score_list):
    person=[0]*11
    for score in score_list:
        if score < 0: continue
        person[int(score/10)] += 1

    for i in range(len(person)): 
        print("{0} 점대 - : {1} 명".format(i*10, person[i]))

part3([75, 25, 6, 73, 43, 46, 31, 13, 60, 90, 5,
               43, 35, 65, 100, 28, 83, 95, 35, 45, -1])

0 점대 - : 2 명
10 점대 - : 1 명
20 점대 - : 2 명
30 점대 - : 3 명
40 점대 - : 4 명
50 점대 - : 0 명
60 점대 - : 2 명
70 점대 - : 2 명
80 점대 - : 1 명
90 점대 - : 2 명
100 점대 - : 1 명

In [49]:
# a=[1,2,5,3]
# a.sort()
# a.pop()
# [i for i in range(1)]
5//5

1

In [9]:
from collections import Counter
s='ddbbc'
c = Counter(s)

cm = c.most_common()
for i in cm:
    if i[1]==cm[0][1]:
        print(i)
    else: 
        break

('d', 2)
('b', 2)

In [17]:
sorted(cm, key=(lambda x : (-x[1], x[0])))

[('b', 2), ('d', 2), ('c', 1)]

In [71]:
#  012345678
# s='aaccaadd'
s='fdsaaccaasdf'
# idx=0
maxleng=1
for i,v in enumerate(s):
    if i<len(s)-1 and v == s[i+1]:
        # 2칸씩체크
        tmplen=2
        check_range = min(i-0, len(s)-i-1)
        print(i,v, len(s)-i, check_range)
        if check_range > 0 and i+check_range < len(s)-1:
            for cidx in range(1, check_range+1):
                print('ok')
                if s[i+cidx+1] == s[i-cidx]:
                    
                    tmplen+=2
                else:
                    break
        maxleng = max(tmplen, maxleng)
        print(i, 'tmplen : ',tmplen)
    else:
        tmplen=1
        check_range = min(i-0, len(s)-i-1)
        if check_range>0:
            for cidx in range(1,check_range+1):
                if s[i +cidx]==s[i-cidx]:
                    tmplen+=2
                else:
                    break
#             print(i, 'tmplen : ',tmplen)
            maxleng = max(tmplen, maxleng)
    
maxleng

3 a 9 3
ok
3 tmplen :  2
5 c 7 5
ok
ok
ok
ok
ok
5 tmplen :  12
7 a 5 4
7 tmplen :  2

12